In [1]:
import pandas as pd
import networkx as nx

In [ ]:
df48 = pd.read_csv("22_12_networks/22_48_network.csv", sep="\t")
df49 = pd.read_csv("22_12_networks/22_49_network.csv", sep="\t")
df50 = pd.read_csv("22_12_networks/22_50_network.csv", sep="\t")
df48.head()

      src      trg  nij     score
0  807295  1137952    2  0.999402
1  807295    54459    1  0.999335
2  807295  1109558    1  0.998848
3  807295   798787    1  0.995841
4  807295   279258    1  0.999690

In [5]:
dfs = [df48, df49, df50]
df = pd.concat(dfs)

In [14]:
df.shape

(242364, 4)

In [11]:
df48.shape[0]+df49.shape[0]+df50.shape[0] == df.shape[0]

True

In [22]:
all_idxs = pd.concat([df["src"], df["trg"]], axis=0)
unique_idxs = all_idxs.unique()
len(unique_idxs)

42319

In [28]:
user_node_id = pd.read_csv("reddit_22_51/user_nodeid.csv", sep="\t")
for node in unique_idxs:
    if node not in user_node_id["nodeid"].to_list():
        print(f"Node {node} is not in the user_nodeid.csv file (username can't be mapped)")

In [42]:
user_node_id[(user_node_id["index"]=="Momolith97") | (user_node_id["index"]=="fftsteven")]

Empty DataFrame
Columns: [index, nodeid]
Index: []

In [43]:
user_node_id.shape

(1240195, 2)

# Checking number of nodes available

In [2]:
import csv

In [4]:
data = pd.read_csv("output_hpc/reclustered_monthly_data_final.csv", sep="\t", encoding = "utf-8", quoting = csv.QUOTE_NONE)
user_node_id = pd.read_csv("reddit_22_51/user_nodeid.csv", sep="\t")

In [5]:
data.head()

,id,subreddit,parent_id,post_id,date,score,user,text,topic,topic_name
0,iyfeodo,politics,iydnjyv,z8ozez,20221201,1,Stardustchaser,"I mean, we got plenty of mental institution ho...",94.0,94_budget_spending_military_pentagon
1,iyfeody,wayofthebern,iyddpzk,z8mnfn,20221201,2,LandmassWave,Both will pass the House. Then that darn parli...,22.0,22_bill_bills_senate_congress
2,iyfeohm,politicalcompassmemes,iyf9d3g,z95g29,20221201,-17,wizard680,Crusades? Cringe. Let's form another caliphate...,281.0,281_islam_muslim_muslims_islamophobic
3,iyfeoie,conspiracy,iyf63ur,z8tnrg,20221201,2,bearlegion,Spite.,121.0,121_accountable_victim_blame_accusation
4,iyfeoop,askconservatives,iyfd52z,z95ftn,20221201,8,SwollenRaccoon,"""Your question was """"who enforces contracts""""....",832.0,832_contracts_contract_haggle_signing

In [9]:
subset = data[data["topic"].isin([1,3,12])]
subset.shape

(58304, 10)

In [11]:
user_node_id.head()

            index  nodeid
0         beowulf       0
1        mutatron       1
2    kripkenstein       2
3        garyp714       3
4  justinpgardner       4

In [13]:
usernames = user_node_id["index"].to_list()
relevant_data = subset[subset["user"].isin(usernames)] #messages on the three topics from users in the usernodeid

In [15]:
relevant_data.shape

(54329, 10)